// color
$color__primary_main: #2BAD8E;
$color__secondary_main: #AD4C2B;
$color__secondary_light: #E4A38D;
$color__error_main: #FF5252;
$color__warning_main: #FFC107;
$color__info_main: #2196F3;
$color__success_main: #4CAF50;

// breakpoints
$breakpoint__xs_end: 599.98px;
$breakpoint__sm_start: 600px;
$breakpoint__sm_end: 959.98px;
$breakpoint__md_start: 960px;
$breakpoint__md_end: 1263.98px;
$breakpoint__lg_start: 1264px;
$breakpoint__lg_end: 1903.98px;
$breakpoint__xl_start: 1904px;
